**/bin/**
**/target/**
**/build/
out/**
**out/**
**classes/**
.idea/**
*.classpath
*.project
*.iml
*.db
*.gz
*.DS_Store
**/rebel.xml
*.log
**/*.log
*.class
*.jar
*.war
*.ear
*.xls
**/stus/**
**/node_modules/**
package-lock.json
package.json